/*
  Robert Skwiat
  908.421.3839
  Prepared for Area 17

  Body Color: #1a1a1a;
  Border Color: #cccccc;
  Highlight / Hover: #990000;

  Interior Padding: 30px; - 1.875em
  Top Padding: 22px; - 1.375em

  Height Between Heading and Body Paragraph 50px - 3.125em

  Heading Font Size is 16px - 1em
  17px Line height for body copy - 1.308em
  25px between Paragraphs - 1.563em / 2.273em

  Paragraph Styling: 13px / 0.813em;
  Paragraph Line Height: 17px / 1.546;
  Paragraph Margin Bottom: 25px - 11px base / 1.923em;
*/


/* ==========================================================================
   Defaults
   ========================================================================== */

html {
  box-sizing: border-box;
  line-height: 1.4; 
  color: #1a1a1a;
  font-size: 1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* ==========================================================================
   Typography
   ========================================================================== */

body{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

a{
  color: #1a1a1a;
  transition: color 0.5s ease;
  text-decoration: none;
}

.active,
a:focus,
a:hover{
  color: #990000;
}

.active{
  display: block;
  padding: 0 0 3.125em 0;
}



/* Heading and Paragraph Styling 
   ========================================================================== */

h2{
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}

p{
  margin:0 0 1.923em 0;
  font-size: 0.813em;
  line-height: 1.308em;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.container{
  margin: 3.750em auto;
  max-width: 65.000em; /* 1040px */
  width: 100%;
}

.accordian{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1.375em 1.875em;
}

.accordian:last-child{
  border-bottom: 1px solid #ccc;
}

.accordianContent{
  display: none;
}

.accordianContent.open{
  display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 40.000em){

  .accordianContent{
    display: block;
  }

  a:focus,
  a:hover,
  .active{
    color: #1a1a1a;
    padding: 0;
  }

  .container{
    margin: 0 auto;
  }

}